.center-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.notification {
  background-color: #8EC5FC;
  padding: 0.5rem;
  border-radius: 2px;
}
